{% extends 'base.html' %}

{% block content %}
<div class="p-4 mt-5 bg-light rounded-3 mx-5">
    <div class="container-fluid py-5 ">
    <h1 class="display-5 fw-bold">Todo Web App</h1>
    <br>
    <p class="col-md-8 fs-5 p-2">Make Your Personal Todo Now!</p>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg mt-2" href="{% url 'current' %}" role="button">Current Todos</a>&nbsp
    <a class="btn btn-warning btn-lg mt-2" href="{% url 'completed_todos' %}" role="button">Completed Todos</a>
    {% else %}
    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">SignUp</a>&nbsp
    <a class="btn btn-warning btn-lg" href="{% url 'login' %}" role="button">Login</a>
    {% endif %}
    </div>
</div>
{% endblock content %}